{% extends 'base.html.twig' %}
{% block title %}Envoyer Email{% endblock %} 
{% block body %} 
<div class="container">
 <p>
Monsieur,<br/>

A la suite de nos différents entretiens, nous avons le plaisir de vous informer que votre candidature au poste de  %nom de poste%, a été retenue.

Afin de procéder à une étude approfondie de votre candidature, nous souhaiterions avoir un entretien complémentaire  avec vous et vous faire passer une série de tests.

Nous nous tenons à votre disposition  pour toutes précisions qu’il vous plairait de nous demander.

Nous vous remercions de bien vouloir prendre contact avec notre service recrutement le plus rapidement possible afin que nous puissions nous rencontrer.

Cordialement,
</p>
</div>
{% endblock %}
