{% block body %} 
<div class="container">
 <p>
Monsieur {{donner.nom}},<br/>

A la suite de nos différents entretiens, nous avons le plaisir de vous informer que votre candidature au poste de  "{{donner.offre}}", a été retenue.

Afin de procéder à une étude approfondie de votre candidature, nous souhaiterions avoir un entretien complémentaire  avec vous le {{donner.DateRendezVous}} et vous faire passer une série de tests.

Nous nous tenons à votre disposition  pour toutes précisions qu’il vous plairait de nous demander.

Nous vous remercions de bien vouloir prendre contact avec notre service recrutement le plus rapidement possible afin que nous puissions nous rencontrer.<br/>

Cordialement,
</p>
</div>
{% endblock %}
